.img-content {
    width: 20px;
    height: auto;
}

thead {
    color: #337AB7;
}

.table-row {
    border: 1px solid gray;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border: 1px solid gray;
    text-align: center;
}

.col-md-2 {
    width: auto;
}

.pm-star {
    display: grid;
    justify-content: center;
}

.input-el {
    margin-top: -1px;
}

.sort-btn {
    margin-top: 2px;
}